USE [master]
GO
/****** Object:  Database [schedule] ******/
CREATE DATABASE [schedule]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'schedule', FILENAME = N'schedule.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'schedule_log', FILENAME = N'schedule_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [schedule].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [schedule]
GO
/****** Object:  Table [dbo].[eventInfo] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eventInfo](
	[dateTime] [datetime] NOT NULL,
	[channelId] [nchar](18) NOT NULL,
	[messageId] [nchar](18) NOT NULL,
	[eventContent] [text] NOT NULL,
	[eventId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eventInfo] PRIMARY KEY CLUSTERED 
(
	[dateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mainChannels]    Script Date: 12/30/2019 10:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mainChannels](
	[guildId] [nchar](18) NOT NULL,
	[channelId] [nchar](18) NOT NULL,
 CONSTRAINT [PK_mainChannels] PRIMARY KEY CLUSTERED 
(
	[guildId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedulePerms] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedulePerms](
	[guildId] [nchar](18) NOT NULL,
	[roleId] [nchar](18) NOT NULL,
 CONSTRAINT [PK_schedulePerms] PRIMARY KEY CLUSTERED 
(
	[guildId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userRsvp] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userRsvp](
	[eventId] [int] NOT NULL,
	[userId] [nchar](18) NOT NULL,
 CONSTRAINT [PK_rsvp] PRIMARY KEY CLUSTERED 
(
	[eventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
